@using MyForum.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>修改个人信息界面</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script type="text/javascript">
        var passshow = false;
        function showpassword() {
            //现在展示则隐藏
            if (passshow) {
                passshow = false;
                $("#password").attr("type", "password")
                $("#showpassbutton").html("显示密码")
            }
            //现在隐藏则展示
            else {
                passshow = true;
                $("#password").attr("type", "input")
                $("#showpassbutton").html("不显示密码")
            }
            return false;
        }

        var passshow2 = false;
        function showpassword2() {
            //现在展示则隐藏
            if (passshow2) {
                passshow2 = false;
                $("#password2").attr("type", "password")
                $("#showpassbutton2").html("显示密码")
            }
            //现在隐藏则展示
            else {
                passshow2 = true;
                $("#password2").attr("type", "input")
                $("#showpassbutton2").html("不显示密码")
            }
            return false;
        }

        //提交修改
        function dosub() {
            if ($("#nickname").val() == "" || $("#password").val() == "" || $("#password2").val() == "") {
                alert("用户昵称、密码和密码确认不得为空")
                return false;
            }
            if ($("#password").val() != $("#password2").val()) {
                alert("两次输入的密码不相同")
                return false;
            }
            $("#myform").ajaxSubmit({
                url: "/Home/UpdateInfo", //上传文件的路径
                type: "POST",
                success: function (data) {
                    alert(data);
                    if (data == "修改成功！") {
                        window.location.reload();//自己刷新
                        var jq = top.jQuery
                        jq("#myframe").attr('src', jq('#myframe').attr('src'))
                    }
                }
            });
        }
    </script>
</head>
<body>
    <div style="text-align:center">
        @if(ViewData["userinfo"] != null)
        {
            User userinfo = ViewData["userinfo"] as User;
        <form id="myform">
            <p>
                <label style="width:20%">用户名</label>
                <input name="username" value="@userinfo.UserName" style="width:80%;height:25px;border-color:gray;background-color:gray;" readonly/>
            </p>
            <p>
                <label style="width:20%">昵&nbsp;&nbsp;&nbsp;称</label>
                <input name="nickname" value="@userinfo.NickName" style="width:80%;height:25px;border-color:gray;background-color:lightblue;" />
            </p>
            <p>
                <label style="width:20%">密&nbsp;&nbsp;&nbsp;码</label>
                <input id="password" name="password" value="@userinfo.Password" type="password" style="width:60%;height:25px;border-color:gray;background-color:lightblue;" />
                <button id="showpassbutton" type="button" style="width:20%;height:30px;" onclick="showpassword()">显示密码</button>
            </p>
            <p>
                <label style="width:20%">确&nbsp;&nbsp;&nbsp;认</label>
                <input id="password2" name="password2" value="@userinfo.Password" type="password" style="width:60%;height:25px;border-color:gray;background-color:lightblue;" />
                <button id="showpassbutton2" type="button" style="width:20%;height:30px;" onclick="showpassword2()">显示密码</button>
            </p>
            <p>
                <img style="max-height:150px" src="~/Heads/@userinfo.Head" />
                <br />
                <label style="width:20%">头&nbsp;&nbsp;&nbsp;像</label>
                <input id="head" name="head" type="file" style="width:80%;height:25px;border-color:gray;background-color:lightblue;" />
            </p>
            <p>
                <label style="width:20%">描&nbsp;&nbsp;&nbsp;述</label>
                <textarea id="disc" name="disc" style="width:80%;resize:none;height:60px;">@userinfo.Disc</textarea>
            </p>
            <p style="margin-top:30px;margin-bottom:35px;">
                <button type="button" style="width:95%;background-color:blue;color:white;height:35px;" onclick="dosub()">提交修改</button>
            </p>
        </form>
        }
    </div>
</body>
</html>
